{% extends "home/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'expo/custom.css' %}">

<div class="expos">
    {% for expo in expos %}
    <div class="expo">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">{{expo.expo_name}}</p>
                <p class="subtitle is-6">{{expo.get_date_info}}</p>

                {% if expo.expo_info_l1 and language == 'nl' %}
                <div class="content">
                    {{expo.expo_info_l1}}
                </div>
                {% endif %}
                {% if expo.expo_info_l2 and language == 'en' %}
                <div class="content">
                    {{expo.expo_info_l2}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}